.main{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    margin-left: 11rem;
    justify-content: center;
}


/* General styling for the home component */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left {
    max-width: 600px;
    margin: 20px;
  }
  
  .greetings {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  

  .about-me .me {
    font-size: 1em;
    color: #00000093;
    margin: 20px 0;
  }
  
  .help {
    margin-top: 20px;
  }
  
  .h5 {
    font-size: 1.5em;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  .sub{
    margin-bottom: 2rem;
  }

  .handle{
    margin-bottom: 1rem;
  }
  
  .socials .handle {
    font-size: 1.3em;
    margin-top: 10px;
  }

  
  
  
  

/* Style for the help section */
.help ul {
    list-style-type: none; 
    padding-left: 20px;
  }


  
  .help ul li {
    font-size: 1em; 
    color: #0000007e;
    list-style: dotted;
    margin: 5px 0; 
  }
  
  

  /* Home.css */

/* Styling for the social media icons */
.socials .social-icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .socials .social-icons a {
    color: #fff;
    font-size: 0.9em;
    background-color: #000;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .socials .social-icons a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid black;
  }
  
  .socials .social-icons i {
    font-size: 1.5em;
  }
  
  .right {
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
  .image {
    width: 70%;
  }

  .image img {
    border: 0.9px dotted;
    padding: 70px;
    width: 90%;
    margin-top: 4rem;
  }
  
  /* STYLE FOR BORDER AROUND THE PICTURE */

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .waving-hand {
    position: absolute;
    top: 48%;
    left: 55%;
    transform: translate(-10%, -70%);
    font-size: 25px;
    border-radius: 50%;
    border: 1px dotted;
    align-items: center;
    padding: 5px;
    background-color: #ffffffe5;
  }

  
  /* END OF STYLE FOR BORDER */


